<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
    //TODO need to add or remove the scripts / cookies after the state of consent changes
    //reload page or what else?
    const KEY_COOKIE_OPT_IN = "cookieOptIn"; //blah
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#000"
            },
            "button": {
                "background": "#f1d600"
            }
        },
        "theme": "classic",
        "position": "bottom-right",
        "type": "opt-in",
        onInitialise: function (status) {
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (type == 'opt-in' && didConsent) {
                console.log("enable cookies");
                localStorage.setItem(KEY_COOKIE_OPT_IN, true);
            }
            if (type == 'opt-out' && !didConsent) {
                localStorage.removeItem(KEY_COOKIE_OPT_IN);
            }
        },
        onStatusChange: function (status, chosenBefore) {
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (type == 'opt-in' && didConsent) {
                localStorage.setItem(KEY_COOKIE_OPT_IN, true);
            }
            if (type == 'opt-out' && !didConsent) {
                localStorage.removeItem(KEY_COOKIE_OPT_IN);
            }
        },
        onRevokeChoice: function () {
            var type = this.options.type;
            if (type == 'opt-in') {
                localStorage.removeItem(KEY_COOKIE_OPT_IN);
            }
            if (type == 'opt-out') {
                localStorage.setItem(KEY_COOKIE_OPT_IN, true);
            }
        }
    });
</script>